
include ../../tiles/btn/btn
include ../../tiles/button/button
include ../../tiles/link/link

.dropdown-wrapper
    .simscrollbar
        each x in [0,1,2,3,4]
            .row.white-bg.cluster-container.no-gutters(id=menuitem[x])
                //- .col-lg-3.cluster-header.d-none.d-lg-block
                //-     h4=menuitem[x] 
                .col-12.cluster-links
                    span.cluster-mob-title.d-block.d-lg-none Overview
                    .row.no-gutters.pull-left
                        each x in [1,2,3,4,5,6,7,8]
                            +btn('with-icon' ,' About ClusterAbout Cluster ','icon-Metals')
        .row.no-gutters.menu-middle
            .col-xl-7.primary-bg.order-md-1
                .row.no-gutters
                    .col-sm-6.file-container
                        h3 Key Downloads
                        each x in [1,2,3]
                            include ../../tiles/file-download/file-download
                         
                    .col-sm-6.file-container
                        h3 Quick Links
                        each x in [1,2,3]
                            include ../../tiles/file-download/file-download
                    .col-sm-12.file-container.pt-0
                        +anchor('btn-primary  btn-primary--outline' ,' View all brochures ')

            .col-xl-5.secondary-bg.order-md-0
                include ../../widgets/contact/contact

    .dropdown-footer.black-bg
        include ../../tiles/social/social
        .language
            h6.title Choose you language
            ul
                li
                    a(href='#')
                        img(src="${require(`./assets/images/language/lang1.png`)}")
                li
                    a(href='#')
                        img(src="${require(`./assets/images/language/lang2.png`)}")
                li
                    a(href='#')
                        img(src="${require(`./assets/images/language/lang3.png`)}")
                li
                    a(href='#')
                        img(src="${require(`./assets/images/language/lang4.png`)}")
                li
                    a(href='#')
                        img(src="${require(`./assets/images/language/lang5.png`)}")

        .sub-menu.d-block.d-lg-none
            ul
                each x in ['Careers', 'Contact us']
                    li
                        a(href="#")= x

