mixin location(data)
    .location
        .row.no-gutters
            div.col-12.col-lg-5.col-xl-4.order-1(class=data.dir ? '' : 'order-lg-0')
                div(class=data.dir ? 'location__wrap-rtl' : 'location__wrap-ltr')
                    h2.section__title.text-nowrap= data.title
                    p.location__text= data.text
                    +anchor('btn-secondary' ,'  ' +data.btnText)
            div.col-12.col-lg-7.col-xl-8(class=data.dir ? '' : 'order-lg-1')

                div.location__image-wrap(class=data.dir ? 'text-left' : 'text-right')
                    img(src= data.image)