footer.bg-primary(style="background-image: url('${require(`./assets/images/footer-mask.png`)}')")
    .footer-wrapper
        .container
            .row
                .col-sm-4.col-xl-3
                    .footer-logo
                        img(src="${require(`./assets/images/kizad-logo-reverse.svg`)}")
                .col-sm-8.col-xl-3
                    .widget-brochure
                        h4.title Download our brochure
                        img(src="${require(`./assets/images/contact.png`)}")
                        p Khalifa Industrial Zone Abu Dhabi [KIZAD], a subsidiary of Abu Dhabi Ports.
                        +anchor('btn-secondary' ,' Download ') 
                        +anchor('btn-white' ,' Contact us ') 

                .col-sm-4.col-xl-2.footer-link
                    h4.title Clusters
                        i.icon-arrow-down.d-block.d-md-none
                    ul
                        -var list = ['Food','Metals', 'Polymers', 'Antomotive', 'Oil & Gas', 'Energy', 'Logistics']
                        each x in list
                            li=x

                .col-sm-4.col-xl-2.footer-link
                    h4.title Business Facilities
                        i.icon-arrow-down.d-block.d-md-none 
                    ul
                        -var list = ['About Land','Pre-build warehouse', 'Light Industrail Units', 'Build to Suit Facilities']
                        each x in list
                            li=x

                .col-sm-4.col-xl-2.footer-link
                    h4.title Free Zone
                        i.icon-arrow-down.d-block.d-md-none
                    ul
                        -var list = ['License Types','Dual Licensing', 'Ligal Entity Types', 'KIZAD Entrepreneurship and Incubation Centre']
                        each x in list
                            li=x



    .footer-copyright.secondary-bg
        .container
            .row
                .col-12.col-lg-5.order-lg-3
                    include ../../tiles/social/social
                .col-6.col-lg-3.copyright  © KIZAL LLC 2020

                .col-6.col-lg-4.term-condition
                    ul
                        li
                            a(href="#") Terms and Conditions
                        li
                            a(href="#") Privacy policy
                
